@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


/* 모바일 코딩 필수 공통영역 */
* {
 margin:0;
 padding:0;
 -webkit-text-size-adjust:none; }
html, body {
 color:#333;
 font-size:14px;
 font-family:돋움, Dotum; }
img, fieldset { border:0; vertical-align:top }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal; }
hr { display:none; }
a { display: block; color:inherit; }
a, a:link {
 color:#333;
 text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {
 color:#333;
 text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input {
 border-radius:1px;}
textarea { resize:none; }
label { cursor:pointer; }
.hidden,#skipNav{display: block; position: absolute; left:-1000%;top:0; width: 1px; height: 1px; overflow: hidden; color: #fff}
table {border-collapse: collapse;}

/* 전체 공통 */
#wrap{ width:100%; position: relative;  overflow:hidden; font-family: 'Noto Sans KR','Lato', sans-serif;}

/* 헤더공통 */
#headerArea {width: 100%; height: 50px; position: fixed; top: 0; left: 0; z-index: 60; background: #fff;}
#headerArea .header_top {height: 100%; padding: 0 15px; display: flex; justify-content: space-between; align-items: center;}
#headerArea .header_top .logo a {
  width: 80px; height: 17px; text-indent: -999px;
  background-image: url(../images/logo_01.jpg); background-size: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #headerArea .header_top .logo a {
    background-image: url(../images/logo_01.jpg);
  }
}
#headerArea .header_top .gnb_btn span {display: block; width: 25px; height: 2px; background: #333;
  transition: all .3s; position: relative; z-index: 110; text-indent: -9999px; border-radius: 5px;}
#headerArea .header_top .gnb_btn span::before {content: ''; display: block;  width: 25px; height: 2px; background: #333; 
  transition: all .3s; position: absolute; left: 0; top: -7px; border-radius: 5px;}
#headerArea .header_top .gnb_btn span::after {content: ''; display: block;  width: 25px; height: 2px; background: #333; 
  transition: all .3s; position: absolute; left: 0; top: 7px; border-radius: 5px;}


#gnb {width: 100%; height: 100%; position: fixed; top: 0; right: 0; z-index: 100; background: #fff;}
#gnb::before {content: ''; display: block; width: 70px; height: 33px; background-image: url(../images/logo_01x2.jpg);
position: relative; top: 20px; left: 30px;}
#gnb .mainMenu {position: relative; padding: 50px 30px; line-height: 5em;}
#gnb .depth1 h3 a{font-size: 1.8em; font-weight: 500;}
#gnb .depth1 ul {display: none; position: absolute; position: absolute; left: 180px; top: 60px;}
#gnb .depth1 ul a {font-size: 1.4em;}
#gnb .log {display: flex; justify-content: space-evenly;}
#gnb .log a {font-size: 1.13em; color: #666;}


/* 푸터공통 */
#footerArea {width: 100%;}
#footerArea .footer_top {display: flex; justify-content: space-evenly; align-items: center; padding: 10px 0;
  border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; }
#footerArea .footer_inner {padding: 15px; color: #666;}
#footerArea .footer_inner .f_sns {display: flex; justify-content: space-around; padding-bottom: 15px;}
#footerArea .footer_inner .f_sns i {font-size: 1.5em; }
#footerArea .footer_inner .f_add address {font-size: 0.9em;}
#footerArea .footer_inner .f_add p {margin: 10px 0; letter-spacing: -0.05em; font-size: 0.85em;}
#footerArea .footer_inner .f_family {background-color: #f0f0f0;}
#footerArea .footer_inner .f_family a {padding: 10px 15px; color: #666; font-weight: 500;}





