/* 메인 비주얼 */

.mySwiper {
  position: relative;
  margin-top: 50px;
 }

.mySwiper .swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .slogan {
  position:absolute;
  top: 90px;
  padding: 15px; 
}

.mySwiper .slogan strong {display: block; margin-bottom: 15px; font-size: 2.15em; color: #fff;}
.mySwiper .slogan span {display: block; color: #fff;}


/* 본문 컨텐츠 */
#content {width: 100%;}
section {padding: 0 15px; box-sizing: border-box; overflow: hidden;}
section h3 {margin-top: 40px; text-align: center; font-size: 1.45em; font-weight: 700;}

/* 제품소개 */
.introProduct {width: 100%;}
.introProduct .HF_intro {width: 100%; min-width: 290px; height: 145px; background: #f9f9f9; 
  box-sizing: border-box; padding: 20px; margin-top: 30px;}
.introProduct .HF_intro h4 {font-size: 1.15em; font-weight: 500;}
.introProduct .HF_intro p {text-align: justify; margin: 10px 0; color: #666;}
.introProduct .HF_intro a {text-align: end;}

.introProduct .products {display: grid; grid-template-columns: repeat(2, minmax(145px, auto)); margin-bottom: 45px; }
.introProduct .products li {position: relative;}
.introProduct .products li h4 {position: absolute; bottom: 15px; width: 100%;
  text-align: center; font-size: 1.15em; font-weight: 500; color: #fff; text-shadow: 0 0 5px rgba(0,0,0,.5);}
.introProduct .products li img {width: 100%;}


/* 기업비전 */

.vision {width: 100%; height: 500px; 
  background-image: url(../images/vision_backgroundx2.jpg); background-size: cover;}
.vision h3 {color: #fff;}
.vision ul {margin: 25px 0; padding: 15px; color: #fff;}
.vision li {display: flex; gap: 15px; margin-bottom: 30px;}
.vision li:last-of-type {margin-bottom: 0;}
.vision img {width: 75px; height: 75px; border-radius: 50%;}
.vision dl {flex: 1 1 0;}
.vision dt {font-size: 1.15em; font-weight: 500; margin-bottom: 10px;}
.vision a {width: 150px; height: 35px; margin: 0 auto;
  font-size: 1.13em; text-align: center; line-height: 35px; color: #fff; background: #1f286fcc;}

/* ESG경영 */

.esg {width: 100%; height: 540px; }

.esg .swiper {
  width: 275px;
  height: 275px;
  margin: 50px auto;
}

.esg .swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
}

.esg .swiper-slide img {
  display: block;
  width: 100%;
  filter: brightness(.7);
}

.esg .swiper-slide dl { width: 100%; height: 100%; padding: 40px 30px; box-sizing: border-box;
  position: absolute; top: 0; color: #fff;}
.esg .swiper-slide dt {font-size: 1.45em; margin-bottom: 30px;}
.esg .swiper-slide dd {text-align: justify;}

.esg a {width: 150px; height: 35px; margin: 0 auto;
  font-size: 1.13em; text-align: center; line-height: 35px; color: #fff; background: #1f286f;}


/* 고객문의 */

.customerQA {width: 100%; height: 125px; margin: 0 0 35px; background-image: url(../images/qax2.jpg);
  background-size: cover; background-position: center;}
.customerQA h3 {margin: 10px 0; color: #fff;}
.customerQA p { color: #fff; font-size: .9em; text-align: center; margin-bottom: 10px;}
.customerQA a { color: #fff; width: 130px; height: 30px; margin: 0 auto;
  text-align: center; line-height: 30px; background: transparent; border: 1px solid rgba(255,255,255,.8);}
