/* 서브 메인 비주얼 */
.main {background-image: url(../images/subvisual_03x2.jpg); background-position: center}

/* 안전보건경영방침 */
#content {width: 100%;}

.esg_policy {padding: 40px 15px; background: #f7f7f7;}
.esg_policy li {padding: 18px; margin-bottom: 20px; margin-left: 25px; 
  background: #fff; box-shadow: 0 0 5px #d9d9d9; position: relative;
  text-align: justify; line-height: 1.8em; border-radius: 10px; }
.esg_policy li:last-of-type {margin-bottom: 0;}
.esg_policy strong {color: #1f296f; background: linear-gradient(to top, #fd7e1f40 40%, #fff 40%);}
.esg_policy span {position: absolute; left: -25px; color: #666;}
